#videoContainer {
  background-color: $video-bg;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: default;
  max-height: 600px;
  max-width: 100%;
  &.hiddenCursor {
    cursor: none;
  }

  &.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  video {
    z-index: 0;
    width: 100%;
  }

  #videoControls {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    margin-left: 3%;
    width: 94%;
    height: 34px;
    padding: 10px 6px;
    left: 0;
    bottom: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
    #play,
    #cur-total-div,
    #timeline-div,
    #volume-div,
    #mute,
    #fullScreen {
      margin: 0 10px;
    }
    #timeline-div {
      flex-grow: 1;
      flex-shrink: 1;
      #timeline {
        width: 100%;
      }
    }
    #cur-total-div {
      width: 110px;
    }
    #volume-div {
      flex-shrink: 2;
      width: 80px;
      min-width: 35px;
      #volume {
        width: 100%;
      }
    }
    &:not(.showing) {
      opacity: 0;
      pointer-events: none;
    }
    #mute {
      width: 20px;
    }
  }
}

.video__data {
  margin-top: 10px;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  .video__hashtags {
    font-size: 14px;
    color: $hashtag-color;
    margin-bottom: 3px;
  }
  .video__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .main-info__and__owner-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 14px;
    .video__main-info {
      display: flex;
      gap: 6px;
      color: $info-color;
      font-size: 14px;
    }
    .owner-btn {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;
      .edit-btn,
      .delete-btn {
        display: block;
        user-select: none;
        height: 100%;
        display: flex;
        i {
          margin-right: 4px;
        }
      }
      .delete-btn {
        position: relative;
        .delete-btn-area {
          cursor: pointer;
        }
        .delete-btn-extend {
          z-index: 1;
          position: absolute;
          padding: 6px 0;
          top: 20px;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background-color: $bg;
          font-size: 0.96em;
          width: 100%;
          height: 56px;
          &.display-none {
            display: none;
          }

          .delete-cancel-btn {
            cursor: pointer;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  .video__detail-info {
    margin: 14px 0;
    display: flex;
    gap: 16px;
    .user__avatar {
      width: 50px;
      height: 50px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.88);
    }

    .name_and_description {
      display: flex;
      flex-direction: column;
      .user__name {
        height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        text-align: center;
        font-size: 18px;
        overflow: hidden;
      }
      .video__description {
        font-size: 14px;
        word-break: break-all;
        overflow: hidden;
      }
    }
  }
}

.video__add-comments {
  padding: 20px 14px;
  height: 50px;
  .video__add-comment-form {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 14px;
    textarea {
      all: unset;
      resize: none;
      width: 300px;
      flex-grow: 1;
      background-color: $bg;
      color: white;
      display: block;
      max-height: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.443);
      padding: 10px 4px;
      &:focus {
        border-bottom: 1px solid rgba(255, 255, 255, 0.915);
      }
    }
    button {
      all: unset;
      cursor: pointer;
      border: 1px solid white;
      padding: 10px 18px;
      background-color: $gray;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    width: 100%;
    padding: 10px 14px;
    box-sizing: border-box;
    color: black;
    margin-bottom: 14px;
    min-height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    img.video__comment__avatar {
      min-width: 36px;
      width: 36px;
      height: 36px;
      object-fit: cover;
      object-position: center;
      background-color: white;
      border-radius: 50%;
      margin-right: 8px;
    }
    .video__comment__info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      margin-left: 4px;
      color: white;
      .video__comment__name {
        font-size: 18px;
        max-width: 100px;
        overflow: hidden;
        margin-bottom: 4px;
      }
      .video__comment__text {
        font-size: 16px;
        width: 100%;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        margin-top: 4px;

        display: -webkit-box;
        -webkit-line-clamp: 3; // 원하는 라인수
        -webkit-box-orient: vertical;
      }
    }
    i {
      color: white;
      font-size: 14px;
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.noneBtn {
        cursor: default;
        opacity: 1;
      }
    }
  }
}
