.empty__message {
    margin-bottom: 50px;
    font-size: 18px;
}

.video-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.auth-switch {
    text-align: center;
    margin-top: 40px;
    a {
        text-decoration: underline;
    }
}

.errorMsg {
    margin-bottom: 20px;
}

.empty__message {
    display: block;
    text-align: center;
    margin: 80px 0 200px 0;
}