include mixins/message

doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width='device-width', initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")
    body 
        if error_messages.length > 0
            +message("error", error_messages[0])
        if info_messages.length > 0
            +message("info", info_messages[0])
        include partials/header

        main
            block content
        include partials/footer
    script(src="/static/js/main.js") 
    block scripts