extends base
include mixins/video

block content
    if videos.length !== 0
        div.video-grid
            each info in videos
                +video(info)
    else
        span.empty__message No videos found