extends base.pug
include mixins/video

block content 
    form(method="GET").search__form
        input(placeholder="Search by title" name="keyword" type="text")
        button 
            .fas.fa-search
        //- input(type="submit" value="Search Now")

    each video in videos 
        div.video-grid
            +video(video)
    else
        if keyword
            span.empty__message No videos found