extends ../base

block content
    form(method="POST")
        if errorMessage 
            span.errorMsg=errorMessage
        input(placeholder="Old Password" type="password" name="oldPassword")
        input(placeholder="New Password" type="password" name="newPassword")
        input(placeholder="New Password Confirmation" type="password" name="newConfirmation")
        input(value="Change Password" type="submit")